<div id="container">
  <br />
  <br />

  <div id="app-timer">
    <div id="time">
      <span id="minutes">{{minutes == 0 ? '00' : minutes}}</span>
      <span id="colon">:</span>
      <span id="seconds">{{seconds == 0 ? '00' : seconds}}</span>
    </div>

  </div>

  <div id="buttons">
    <button (click)="start()" id="start">Start!</button>

    <button (click)="stop()" id="stop">Stop</button>
    <button (click)="reset()" id="reset">Reset</button>
    <br />
    <button (click)="addFive()" id="addFive">+5</button>
    <button (click)="minusFive()" id="minusFive">-5</button>
  </div>

</div>
