<div id="container">
  <mat-toolbar>Michael's Timer</mat-toolbar>
  <br />
  <br />

  <div id="app-timer">
    <div id="time">
      <mat-icon>timer</mat-icon>
      <span id="minutes">{{minutes == 0 ? '00' : minutes}}</span>
      <span id="colon">:</span>
      <span id="seconds">{{seconds == 0 ? '00' : seconds}}</span>
    </div>
  </div>

  <div id="buttons">
    <button mat-button (click)="start()" id="start" matTooltip="Start the timer @ 25 mins" matTooltipPosition="above">
      <mat-icon>start</mat-icon>
      Start!</button>
    <button mat-button (click)="stop()" id="stop" matTooltip="Stop the timer" matTooltipPosition="above">
      <mat-icon>front_hand</mat-icon>
      Stop</button>
    <button mat-button (click)="reset()" id="reset" matTooltip="Reset the timer" matTooltipPosition="above">
      <mat-icon>restart_alt</mat-icon>
      Reset</button>
    <br />
    <button mat-button (click)="addFive()" id="addFive" matTooltip="Add 5 minutes to timer" matTooltipPosition="above">
      <mat-icon>add</mat-icon>
      5</button>
    <button mat-button (click)="minusFive()" id="minusFive" matTooltip="Subtract 5 minutes to timer" matTooltipPosition="above">
      <mat-icon>remove</mat-icon>
      5</button>
  </div>

</div>
