@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#container{
width:500px;
height:500px;
margin:20px auto;
padding:20px;
text-align:center;
}

#timer{
color:black;
font-size: 50px;
margin: 10px auto;
border: 3px solid black;
border-radius: 30px;
width: 200px;
height: 170px;
overflow: hidden;
position:relative;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
cursor:default;
user-select:none;
}

#time{
  margin: 30px 0;
  z-index: 1;
  position:relative;
  font-size: 28px;
  font-family: 'Roboto';
}

#buttons button {
  border:3px solid black;
}

#buttons button#start{
background: white;
}
#buttons button#stop{
background: white;
}
#buttons button#reset{
background: white;
}

#buttons button#addFive{
background:whitesmoke;
color:black;
}

#buttons button#minusFive{
background:whitesmoke;
color:black;
}
